<div class="banner">
  <div class="banner-graphic">
      <%= image_tag @blog.images.first %>
    
  </div>

</div>
<%= @blog.title %>


<div class="text">
<%= @blog.mama_content %>
</div>
<div class="text">
<%= @blog.quickfire_questions %>
</div>
<%= link_to "home", root_path %>
