<div class="footer">
  <div class="footer-main row">
    <div class="footer-form col-12 col-lg-6">
      <%= link_to root_path do %>
      <%= image_tag "bd_logo_red" %>
    <% end %>


      <h1>Never Miss Out!</h1>
      <h3>Get exclusive deals, news and inspiration</h3>
      <%= form_with url: "#", method: :get do |f| %>
      <div class="form-elem">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name %>
      </div>
      <div class="form-elem">
        <%= f.label :email, "Email" %>
        <%= f.text_field :email %>
      </div>
      <div class="form-elem">
        <%= f.submit "Submit" %>
      </div>
      <!-- Need Mailchimp login to setup properly -->
      <!-- https://medium.com/swlh/how-to-build-a-mailing-list-with-ruby-on-rails-and-mailchimp-ae9bb45b041f -->
      <% end %>
    </div>

    <div class="footer-social col-12 col-lg-6">
      <h1>Follow BabyDuet!</h1>
      <div class="footer-links">
        <div class="footer-link">
          <%= link_to 'https://www.instagram.com/baby_duet_/' do %>
          <i class="fab fa-instagram"></i>
          <% end %>
        </div>
        <div class="footer-link">
          <%= link_to 'https://www.facebook.com/babyduet' do %>
          <i class="fab fa-facebook-f"></i>
          <% end %>
        </div>

      </div>
      <div class="footer-contact">
        <%= mail_to 'victorine@babyduet.com', subject: "Hello Baby Duet" do %>
        Contact Us <i class="far fa-envelope"></i>
        <% end %>
      </div>
    </div>

  </div>



</div>
<div class="copyright">
  <p>Copyright © 2020 BabyDuet</p>
</div>











<!--

  <div class="footer">
    <div class="bd-logo">
      <%= image_tag "bd_logo_red" %>
    </div>
    <div class="footer-links-header">
      <h1>Follow BabyDuet!</h1>
      <div class="footer-links">
        <div class="footer-link">
          <%= link_to 'https://www.instagram.com/baby_duet_/' do %>
          <i class="fab fa-instagram"></i>
          <% end %>
        </div>
        <div class="footer-link">
          <%= link_to 'https://www.facebook.com/babyduet' do %>
          <i class="fab fa-facebook-f"></i>
          <% end %>
        </div>
      </div>
      <div class="footer-contact">
        <%= mail_to 'victorine@babyduet.com', subject: "Hello Baby Duet" do %>
        Contact Us <i class="far fa-envelope"></i>
        <% end %>
      </div>
    </div>
    <div class="footer-form">
      <%= form_with url: "#", method: :get do |f| %>
      <div class="form-elem">
        <%= f.label :name, "Name" %>
      </div>
      <div class="form-elem">
        <%= f.text_field :name %>
      </div>
      <div class="form-elem">
        <%= f.label :email, "Email" %>
      </div>
      <div class="form-elem">
        <%= f.text_field :email %>
      </div>
      <div class="form-elem">
        <%= f.submit "Submit" %>
      </div>
      Need Mailchimp login to setup properly -->
      <!-- https://medium.com/swlh/how-to-build-a-mailing-list-with-ruby-on-rails-and-mailchimp-ae9bb45b041f
      <% end %>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © 2020 BabyDuet</p>
  </div> -->
