<div class="footer">

  <div class="footer-logo">
    <%= link_to root_path do %>
      <%= image_tag "logos/bd_logo_og" %>
    <% end %>
  </div>


  <div class="footer-social">
    <h1>Contact Us</h1>
    <div class="footer-links">
      <div class="footer-link">
        <%= link_to 'https://www.instagram.com/baby_duet_/' do %>
        Instagram
        <% end %>
      </div>
      <div class="footer-link">
        <%= link_to 'https://www.facebook.com/babyduet' do %>
        Facebook
        <% end %>
      </div>
      <div class="footer-link">
        <%= mail_to 'victorine@babyduet.com', subject: "Hello Baby Duet" do %>
        Email
        <% end %>
      </div>
    </div>
    <div class="footer-signup">
      <h1>Join the Baby Duet family for 10% off</h1>
      SIGN UP BOX TBD
    </div>
  </div>


</div>
