<div class="about-banner">
  <h1>The Story</h1>
  <h3>Passionate about ethical fashion and zero waste</h3>
</div>
<!-- banner -->
<div class="about-text">
  <div class="about-inner-text">
    <p><i class="fas fa-quote-left quote"></i>  Hi, I’m Victorine, the founder of Baby Duet™, mother of two, and the excited owner of this shop. It is thrilling to see my hand-drawn designs come to life through countless hours of planning, researching and creation.</p>
    <p>Whilst I always had an interest in fashion and arts, it was when I was attending my cousin’s wedding and my little boy had a beautiful attire, but unfortunately the bib didn’t match and it covered the whole print! I then came up with the idea of matching design. So I decided to create some myself. I believe that babies deserve the best, and wanted to offer that for all families out there.</p>
    <p>Look no further… Here you will find a luxury quality, organic cotton baby range with 3 unisex prints, which represent stages of my journey through motherhood.<i class="fas fa-quote-right quote"> </i></p>
  </div>
  <div class="about-image">
    <div class="about-image-desc">
      <%= image_tag "bd_cot_ico" %>
      <p>Luxury quality organic cotton</p>
    </div>
    <div class="about-image-desc">
      <%= image_tag "bd_ethsou_ico" %>
      <p>Ethically sourced and created locally</p>
    </div>
    <div class="about-image-desc">
      <%= image_tag "bd_recycle_ico" %>
      <p>We repurpose & recycle materials</p>
    </div>
  </div>
</div>

<div class="about-text no-mar">
  <div class="about-image-wide">
    <%= image_tag "bd_traffic" %>
  </div>
  <div class="about-inner-text">
    <p><i class="fas fa-quote-left quote"></i>  The traffic light print is how I describe my motherhood, sometimes we are all systems go, then it’s the waiting game and at times we just need to STOP and take a moment.</p>
    <p>The balloon print represents celebration for me! On the day I gave birth to my first child I received balloons, so it is a reminder to create that extra joy! </p>
    <p>The third design is my logo, which is so special to me. It’s my first design with a boy and girl face incorporated, having a boy and girl myself I wanted to design gender neutral prints! <i class="fas fa-quote-right quote"></i></p>
  </div>
</div>

<div class="about-text yell">
    <div class="about-inner-text">
    <p><i class="fas fa-quote-left quote"></i>  I hope you will love these clothes as much as I have enjoyed creating them, and hope they will make those special occasions even more special.</p>
    <p>Thank you for your interest and feel free to get in touch with any questions you may have  <i class="fas fa-quote-right quote"></i></p>
  </div>
  <div class="about-image-yell">
    <div>
      <p>Victorine</p>
    </div>
    <%= image_tag "bd_heart" %>
  </div>
</div>
