<div class="nav-mar"></div>

<div class="index-cards">
  <% @products.each do |product| %>
  <%= link_to product do %>
  <div class="index-card">
  <div class="overlay-index">
      <%= product.name %>
    </div>
    <%= image_tag product.images.first %>
    <% end %>
    <h6><%= product.name %> –  <%=humanized_money_with_symbol(product.price) %></h6>
 
  </div>
  <% end %>





