<h1>product show</h1>

<h1> <%= @product.name %> </h1>
<h1> <%= humanized_money_with_symbol(@product.price) %> </h1>
<h1> <%= @product.product_type %> </h1>



<div id="caro">
  <button id="caro-prev-but" class="caro-but">prev</button>

  <div class="caro-inner">
    <% @product.images.each_with_index do |slide, i| %>
      <% if i == 0 %>
      <div class="caro-item active">
        <%= image_tag(slide) %>
      </div>
      <% else %>
      <div class="caro-item">
        <%= image_tag(slide) %>
      </div>
      <% end %>
    <% end %>
  </div>
  <button id="caro-next-but" class="caro-but">next</button>
</div>










<div class="size-selector">
  <%= form_with(url: add_to_basket_path(@product), local: true) do |form| %>
  <div><%= collection_select(:product, :products_size_ids, @product.sizes, :id, :name, prompt: true) %></div>
  <div><%= form.submit 'Add to basket', class: :form_button %></div>
  <% end %>
</div>


