<h1>product show</h1>

<h1> <%= @product.name %> </h1>
<h1> <%= humanized_money_with_symbol(@product.price) %> </h1>
<h1> <%= @product.product_type %> </h1>



<% @product.images.each do |image| %>
<%= image_tag image %>
<% end %>

<div class="size-selector">
  <%= form_with(url: add_to_basket_path(@product), local: true) do |form| %>
  <div><%= collection_select(:product, :products_size_ids, @product.sizes, :id, :name, prompt: true) %></div>
  <div><%= form.submit 'Add to basket', class: :form_button %></div>
  <% end %>
</div>

